In [17]:
import pandas as pd
import numpy as np
import scipy as sp
import matplotlib.pyplot as plt
import json
from pandas.io.json import json_normalize

In [18]:
j = json.load((open('/Users/Nathan/Springboard/data_wrangling_json/data/world_bank_projects.json')))

Convert json file to Pandas dataframe

In [19]:
df = pd.read_json('/Users/Nathan/Springboard/data_wrangling_json/data/world_bank_projects.json')

Prints the 10 countries with the most projects

In [20]:
df.countryname.value_counts().nlargest(10)

Republic of Indonesia              19
People's Republic of China         19
Socialist Republic of Vietnam      17
Republic of India                  16
Republic of Yemen                  13
Nepal                              12
People's Republic of Bangladesh    12
Kingdom of Morocco                 12
Republic of Mozambique             11
Africa                             11
Name: countryname, dtype: int64

Prints the 10 major project themes

In [21]:
theme_names = pd.merge(json_normalize(j, 'mjtheme_namecode').groupby('code').count().sort_values('name', ascending=False)[:10].reset_index(),json_normalize(j, 'mjtheme_namecode'),
         how='left',on='code')

theme_names.name_y.value_counts().nlargest(10)

Environment and natural resources management    223
Rural development                               202
Human development                               197
Public sector governance                        184
Social protection and risk management           158
Financial and private sector development        130
Social dev/gender/inclusion                     119
                                                119
Trade and integration                            72
Urban development                                47
Name: name_y, dtype: int64

Create a dataframe with the missing names filled in

In [22]:
theme_names['name_y'].replace('', np.nan, inplace=True)
tn1 = theme_names.copy()

tn1.dropna(subset=['name_y'], inplace=True)

theme_names_sorted = theme_names.sort_values(['name_x', 'name_y'])
theme_names_sorted.fillna(method="ffill",inplace=True)
theme_names_sorted

     code  name_x                                        name_y
1446    1      38                           Economic management
1447    1      38                           Economic management
1448    1      38                           Economic management
1449    1      38                           Economic management
1450    1      38                           Economic management
1452    1      38                           Economic management
1453    1      38                           Economic management
1454    1      38                           Economic management
1455    1      38                           Economic management
1456    1      38                           Economic management
1458    1      38                           Economic management
1459    1      38                           Economic management
1460    1      38                           Economic management
1461    1      38                           Economic management
1462    1      38                           Economic management
1463    1      38                           Economic management
1464    1      38                           Economic management
1465    1      38                           Economic management
1466    1      38                           Economic management
1467    1      38                           Economic management
1468    1      38                           Economic management
1470    1      38                           Economic management
1471    1      38                           Economic management
1472    1      38                           Economic management
1473    1      38                           Economic management
1475    1      38                           Economic management
1476    1      38                           Economic management
1477    1      38                           Economic management
1478    1      38                           Economic management
1479    1      38                           Economic management
...   ...     ...                                           ...
246    11     250  Environment and natural resources management
247    11     250  Environment and natural resources management
249    11     250  Environment and natural resources management
0      11     250  Environment and natural resources management
16     11     250  Environment and natural resources management
26     11     250  Environment and natural resources management
45     11     250  Environment and natural resources management
48     11     250  Environment and natural resources management
49     11     250  Environment and natural resources management
50     11     250  Environment and natural resources management
53     11     250  Environment and natural resources management
65     11     250  Environment and natural resources management
67     11     250  Environment and natural resources management
80     11     250  Environment and natural resources management
99     11     250  Environment and natural resources management
124    11     250  Environment and natural resources management
127    11     250  Environment and natural resources management
129    11     250  Environment and natural resources management
156    11     250  Environment and natural resources management
171    11     250  Environment and natural resources management
173    11     250  Environment and natural resources management
177    11     250  Environment and natural resources management
179    11     250  Environment and natural resources management
191    11     250  Environment and natural resources management
225    11     250  Environment and natural resources management
227    11     250  Environment and natural resources management
234    11     250  Environment and natural resources management
237    11     250  Environment and natural resources management
240    11     250  Environment and natural resources management
248    11     250  Environment and natural resources management

[1484 rows x 3 columns]